body {
	background: url('/img/starbackground.jpg') no-repeat top center fixed;
    background-size: cover;
    background-color: #000;
    cursor: url('/img/Buzz_Lightyear.png'), auto !important;
}

#container {
	margin: auto;
}

#sideConsole {
	width: 250px;
	height: 200px;
	border: 3px solid green;
	margin: auto;
	float: left;
}

button {
	color: green;
	background-color: black;
	border: 1px solid green;
	margin: 10px 25px;
	width: 200px;
	height: 40px;
	font-size: 24px;
	outline: none;
}

#pointsCounter {
	background: #000;
	color: #fff;
	border: 1px solid green;
	margin: 10px 25px;
	width: 200px;
	height: 40px;
	font-size: 24px;
	text-align: center
}

h1 {
	color: purple;
	margin: 10px auto;
	text-align: center
}

.active {
	background-image: url('/img/emperorzurg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: purple
}

#gameBoard {
    width: 606px;
    height: 606px;
    border: 2px solid green;
    margin: auto;
}

.molehole {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    float: left;
}